p {
  font-size: 0.5em;
}

textarea {
  font-size: 0.5em;
}

.navbar-brand {
  font-size: 2.0em;
}

#nav_styling {
  font-size: 1.4em;
}

.title-image {
  width: 100%;
  padding: 10px;
  border: 3px solid #4d5d6d;
  margin: 5px;
}

.landing-heading {
  text-align: left;
  margin-top: 5%;
  margin-left: 40px;
  font-family: "Roboto-Light", sans-serif;;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 5px;
  line-height: 1.2;
}

.page-heading {
  text-align: left;
  margin-left: 10px;
  font-family: "Roboto-Light", sans-serif;;
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 5px;
  line-height: 1.2;
}

.post-title {
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.5em;
  color: #d85400;
  line-height: 1.2;
}

.chat-poster {
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-weight: bolder;;
  color: #d85400;
  font-size: 2.0em;
}

.chat-text {
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 100;
  font-size: 2.0em;
}

.blog-image {
  max-width: 100%;
  padding: 10px;
  border: 3px solid #4d5d6d;
  margin: 5px;
}

.breadcrumb {
  font-size: 0.5em;
}

.thumbnail {
  height: 450px;
}

.thumbnail-img {
  max-height: 300px;
}

.wrapper {
  position: relative;
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #eeeeee;
}
